<div class="currency-main-container">
    <div class="convertor-container">
        <h2>Convert customer salary</h2>
        <div class="input-container">
            <form class="example-form">
                <mat-form-field appearance="fill">
                    <mat-label>Customers</mat-label>
                    <mat-select [(ngModel)]="selectedCustomer" name="customers" (selectionChange)="onCustomerSelect()">
                      <mat-option *ngFor="let customer of customers" [value]="customer">
                        {{customer.generalData.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Salary</mat-label>
                  <input matInput placeholder="Customer Salary" readonly value="{{salary}}">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Current Currency</mat-label>
                    <input matInput  readonly value="{{currency}}">
                  </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Currency</mat-label>
                    <mat-select [disabled]="!currency" [(ngModel)]="selectedCurrency" (selectionChange)="convertCurrency()"  name="selectedCurrency">
                      <mat-option *ngFor="let curr of currencyList" [value]="curr">
                        {{curr}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>After Convert</mat-label>
                    <input matInput  readonly value="{{result}}">
                  </mat-form-field>
            </form>
        </div>
        <div class="button-container">
            <button mat-raised-button (click)="saveConvert()"  color="primary">Save Result</button>
        </div>
    </div>


</div>