.currency-main-container{
    padding:100px 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.convertor-container{
    box-shadow:0 0 10px;
    width: 100%;
    height: 250px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: space-between;
    padding:20px;
    align-items: center;
}

.input-container{
    width:100%;
}
.button-container{
    padding-bottom: 20px;
}