<div class="edit-container">
  <h1>Edit Customer</h1>
    <form #editForm ="ngForm" (ngSubmit)="onSubmit()">
      <div class="column">
        <mat-form-field>
          <mat-label>Number of products held</mat-label>
          <input  name="salary" [(ngModel)]="salary" type="number" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Number of products held</mat-label>
          <input name="totalRelationship" [(ngModel)]="totalRelationship" type="number" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Inactive month in last 12 month</mat-label>
          <input name="inactiveMonth" [(ngModel)]="inactiveMonth" type="number" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Number of contacts in last 12 month</mat-label>
          <input name="numberOfContacts" [(ngModel)]="numberOfContacts" type="number" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Total Revolving balance on Credit card</mat-label>
          <input  name="totalRevolvingBal" [(ngModel)]="totalRevolvingBal" type="number" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Change Transaction amount (Last Q4 over Q1)</mat-label>
          <input name="changeTransFromQ1ToQ4" [(ngModel)]="changeTransFromQ1ToQ4" type="number" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Total Transactions amount (last 12 months)</mat-label>
          <input name="totalTransChange" [(ngModel)]="totalTransChange" type="number" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Total Transactions count (last 12 months)</mat-label>
          <input name="totalTransCount" [(ngModel)]="totalTransCount" type="number" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Change in Transaction count (Q4 over Q1)</mat-label>
          <input name="totalCtChangeQ1ToQ4" [(ngModel)]="totalCtChangeQ1ToQ4" type="number" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Average utilization ratio in credit card</mat-label>
          <input name="avgRatio" [(ngModel)]="avgRatio" type="number" matInput>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
       </div>
      </form>
</div>