.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
    width: 320px;
  }

  form{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
  }