<mat-horizontal-stepper linear #stepper>
  <mat-step  [stepControl]="generalInfo" [editable]="isEditable">
    <form  [formGroup]="generalInfo">
      <ng-template matStepLabel>Fill out General Info</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput required [(ngModel)]="name" formControlName="generalCtrl" placeholder="Last name, First name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select required  formControlName="generalCtrl" [(ngModel)]="selectedGender" name="gender">
          <mat-option *ngFor="let g of gender" [value]="g">
            {{g}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input required type="email" matInput  [(ngModel)]="email" formControlName="generalCtrl" placeholder="example@emaple.com">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Salary</mat-label>
            <input required matInput type="number" [(ngModel)]="salary" formControlName="generalCtrl" placeholder="3000€">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Currency</mat-label>
            <mat-select required formControlName="generalCtrl" [(ngModel)]="currency" name="currency">
              <mat-option *ngFor="let curr of currencyList" [value]="curr">
                {{curr}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      <div>
        <button mat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="incomeInfo" [editable]="isEditable">
    <form [formGroup]="incomeInfo">
      <ng-template matStepLabel>Fill out your income details</ng-template>
      <mat-form-field>
        <mat-label>Number of products held</mat-label>
        <input  required formControlName="incomeCtrl" placeholder="for example: 6" [(ngModel)]="totalRelationship" type="number" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Inactive month in last 12 month</mat-label>
        <input required formControlName="incomeCtrl" placeholder="for example:5" [(ngModel)]="inactiveMonth" type="number" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Number of contacts in last 12 month</mat-label>
        <input required formControlName="incomeCtrl" placeholder="for example: 3" [(ngModel)]="numberOfContacts" type="number" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Total Revolving balance on Credit card</mat-label>
        <input required formControlName="incomeCtrl" placeholder="for example: 1657" [(ngModel)]="totalRevolvingBal" type="number" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Change Transaction amount (Last Q4 over Q1)</mat-label>
        <input required formControlName="incomeCtrl" placeholder="for example:0.67" [(ngModel)]="changeTransFromQ1ToQ4" type="number" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Total Transactions amount (last 12 months)</mat-label>
        <input required formControlName="incomeCtrl" placeholder="2786" [(ngModel)]="totalTransChange" type="number" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Total Transactions count (last 12 months)</mat-label>
        <input required formControlName="incomeCtrl" placeholder="for example:55" [(ngModel)]="totalTransCount" type="number" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Change in Transaction count (Q4 over Q1)</mat-label>
        <input required formControlName="incomeCtrl" placeholder="for example: 0.34" [(ngModel)]="totalCtChangeQ1ToQ4" type="number" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Average utilization ratio in credit card</mat-label>
        <input required formControlName="incomeCtrl" placeholder="for example: 1.63" [(ngModel)]="avgRatio" type="number" matInput>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <h2>Thank you for register new customer to our bank</h2> 
    <div>
      <button mat-raised-button color="primary" (click)="onFormCompleted()">Done</button>
    </div>
  </mat-step>
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-horizontal-stepper>
