<mat-card class="card-container" >
    <h1>Register</h1>
    <form #registerForm = "ngForm" (ngSubmit) = "onSubmit()" >
        <div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Full Name</mat-label>
                    <input matInput placeholder="please enter your name"
                    [(ngModel)]= name
                    name = name
                    (ngModelChange)="clearError()"
                    required
                    >
                </mat-form-field>

            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="example:you@you.com"
                    [(ngModel)]= email
                    name = email
                    (ngModelChange)="clearError()"
                    type="email"
                    required>
                </mat-form-field>
             
            </div>
             <div style="color:red;padding-top:10px" *ngIf="!!emailErrorMessage">{{emailErrorMessage}}</div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="example:12345678"
                    [(ngModel)]= password
                    name = password
                    type="password"
                    required >
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="example:12345678"
                    [(ngModel)]= confirmedPassword
                    name = confirmedPassword
                    required
                    type="password"
                    (ngModelChange)="clearError()"
                    >
                </mat-form-field>
            </div>
            <span style="color:red;padding-top:10px" *ngIf="!!passwordsError">{{passwordsError}}</span>
            <div>
             <button [disabled] ="!registerForm.form.valid" type = "submit" mat-raised-button color="accent">Register</button>
            </div>
        </div>
    </form>
    <br/>
    <span>Did you have an account?<a href="/login">login</a></span>
</mat-card> 